/* Querys */

@media (max-width: 900px) {
    .page-home {
        background-position: 80vw;
    }

    #page-home .content {
        align-items: center;
        text-align: center;
    }

    #page-home main {
        align-items: center;
    }

    #page-home header a {
        position: absolute;
        bottom: 48px;
        left: 50%; 
        transform: translateX(-50%);
    }
}

@media (min-width: 1700px) {
    .page-home {
        background-position: 48vw;
    }

}

@media (max-height: 800px) {
    .page-home {
        background-position-y: 120px;
    }

}