{% extends "layout.html" %}

{% set divId = "page-create-point" %}
{% set divClass = "page-create-point" %}

{% block styles %}
    <link rel="stylesheet" href="./css/create-point.css">
{% endblock styles %}

{% block title %}
    <title>Criar um ponto de coleta</title>
    {# se o arquivo não tiver o bloco title, esse será o padrão#}
{% endblock title %}

{% block content %}
    {% include "partials/page-header.html" %}

    <main>
        <form action="#">
            <h1>
                Cadastro do ponto de coleta</h1>

            <fieldset>
                <legend>
                    <h2>
                        Dados da Entidade</h2>
                </legend>

                <div class="field-group">

                    <div class="field">
                    <label for="name">
                        Nome da Entidade
                    </label>
                    <input id="name" type="text" name="name" required="required">
                    </div>

                    <div class="field">
                        <label for="name">
                            Imagem da Entidade
                        </label>
                        <input id="name" type="url" name="imgUrl" placeholder="http://" required="required">
                    </div>

                </div>
                

                <div class="field-group">

                    <div class="field">
                        <label for="adress">
                            Endereço
                        </label>
                        <input id="adress" type="text" name="adress" required="required">
                    </div>

                    <div class="field">
                        <label for="number">
                            Número
                        </label>
                        <input id="number" type="number" name="number" required="required">
                    </div>

                </div>

                <div class="field">
                    <!-- Adicionado por mim. Editar na hora do backkend! -->
                    <label for="adressComp">
                        Complemento
                    </label>
                    <input id="adressComp" type="text" name="adressComp">
                </div>

                <div class="field-group">

                    <div class="field">
                        <label for="state">
                            Estado
                        </label>
                        <select name="uf" id="state" required="required">
                            <option value="">
                                Selecione o Estado</option>
                        </select>
                        <input type="hidden" name="state">
                        <!-- campo escondido, receberá o nome do estado selecionado acima-->
                    </div>

                    <div class="field">
                        <label for="city">
                            Cidade
                        </label>
                        <select name="city" id="city" disabled="disabled" required="required">
                            <option value="">
                                Selecione a Cidade</option>
                        </select>
                    </div>

                </div>

            </fieldset>

            <fieldset>
                <legend>
                    <h2>Itens de Coleta</h2>
                </legend>

                <div id="grid">
                    <ul class="items-grid">
                        <li data-id="1">
                            <img src="./assets/icones/lampadas.svg" alt="lampadas">
                            <span>Lâmpadas</span>
                        </li>
                        <li data-id="2">
                            <img src="./assets/icones/baterias.svg" alt="pilhas e baterias">
                            <span>Pilhas e Baterias</span>
                        </li>
                        <li data-id="3">
                            <img src="./assets/icones/papeis-papelao.svg" alt="papeis e papelão">
                            <span>Papeis e Papelão</span>
                        </li>
                        <li data-id="4">
                            <img src="./assets/icones/eletronicos.svg" alt="resíduos eletrônicos">
                            <span>Resíduos Eletrônicos</span>
                        </li>
                        <li data-id="5">
                            <img src="./assets/icones/organicos.svg" alt="resíduos orgânicos">
                            <span>Resíduos Orgânicos</span>
                        </li>
                        <li data-id="6">
                            <img src="./assets/icones/oleo.svg" alt="óleo de cozinha">
                            <span>Óleo de Cozinha</span>
                        </li>
                    </ul>
                </div>

                <input type="hidden" name="items">

            </fieldset>

            <button type="submit">
                CADASTRAR
            </button>
        </form>
    </main>

{% endblock content %}

{% block scripts %}
    <script src="./scripts/create-point.js"></script>
{% endblock scripts %}



