<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="./css/main.css">
        {% block styles %}{% endblock styles %}
        <link rel="stylesheet" href="./css/querys.css">

        {% block title %}
            <title>Ecoleta</title>
        {% endblock title %}

    </head>

    <body>
        <div id="{{divId}}" class="{{divClass}}">
            {% block content %}{% endblock content %}

        </div>

        {% block modal %}{% endblock modal %}

        {% block scripts %}{% endblock scripts %}

    </body>

</html>